@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  max-width: 100vw;
  background: white url(img/bg.png) fixed center no-repeat;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0;
}

button.btn {
  height: 2.5rem;
  border-radius: 2rem;
  border: none;
  margin: 2rem auto;
  padding: .5rem 1rem;
  cursor: pointer;
  grid-area: fav-poke;
}

button.btn:hover {
  color: #eee;
  background-color: #999;
}

.footer {
    height: 4rem;
    max-width: 100vw;
    background: rgba(239,229,183, .4);
    background: linear-gradient(180deg, rgba(239,229,183,.6) 2%, rgba(196,209,177,.6) 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
